@import '~bootstrap/scss/bootstrap';
@import './Bootstrap.css';

@font-face {
  font-family: "NotoSansHK-Regular";
  src: local("NotoSansHK"),
    url("../public/fonts/NotoSansHK/NotoSansHK-Regular.otf") format("truetype");
  font-weight: 400;
}

body * {
  font-family: 'NotoSansHK-Regular'
}

.cursor {
  cursor: pointer;
}

.db-red {
  background: #E50020;
}

.dt-red {
  color: #E50020;
}

.b-red {
  border: solid 1px #E50020;
  border-color: #E50020 !important;
}

.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}

.f-bold {
  font-weight: 600;
}

.special-color {
  color: #ADB5BD !important;
  opacity: none !important;
}

/* Page1 */
.section {
  box-shadow: 0px 4px 8px rgba(16, 24, 32, 0.1);
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav {
  max-width: 1740px;

  padding: 12px 16px;
  margin: 0 auto 0 auto;
}

.nav img {
  max-width: 28%;
  min-width: 25%;
  height: auto;
}

.nav .section1-txt {
  display: block;
  margin-left: 20.5px
}

.section1 {
  max-width: none;
  margin: auto;
  background-image: url(../public/photo/image3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.outer-img {
  /* background-image:url(/src/photo/image1.png); */
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /* animation: fade 1.5s ; */
  filter: blur(7px);
}

.fa-cus {
  color: #6C757D;
}

.bottom-indicator {
  margin: 15px auto;
  max-width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-indicator .ball {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #6C757D;
}

.inner-img2 {
  /* background-image: url(/src/photo/image2.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: slide-in-right 1.5s;
}

.section1 .outer-section {
  margin-top: 60px;
}

.section2 {
  padding: 14px;
}

.section2 .inner-section {
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(16, 24, 32, 0.1);
  border-radius: 0px 0px 16px 16px;
  border-top: 4px solid #E50020;
  max-width: 670px;
  margin: auto;
}

.section2 .inner-section .first {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.section2 .inner-section .first .firstText {
  color: #E50020;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
}

.section2 .inner-section .second {
  margin-top: 16px;
  width: 100%
}

.section2 .inner-section .second-input {
  width: 100%;
  border: solid 1px #DEE2E6;
  border-radius: 8px;
}

.section2 .inner-section .second input {
  width: 90%;
  padding: 12px;
  background: #ffffff;
  border: solid 0px #DEE2E6;
  border-radius: 8px;
  outline: none;
}

.section2 .inner-section .second input::placeholder {
  opacity: 0
}

.section2 .inner-section .second label:focus-within {
  /* border: solid 1px #7ba7f8; */
  border: solid 1px #101820;
  border-radius: 8px;
  box-shadow: 1px 3px 5px #00000034;
}

.section2 .inner-section .second label:focus-within>span,
.section2 .inner-section .second input:not(:placeholder-shown)+span {
  font-size: 12px;
  transform: translate(15px, 10px);
}

.section2 .inner-section .second span {
  font-size: 18px;
  transform: translate(15px, 15px);
  transition: all 0.3s;
}

.section2 .inner-section .second .second-button {
  background-image: url(../public/photo/Icon2.png);
  background-color: #ffffff;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 10%;
  height: 40px;
  padding: 0;
  border: solid 0px #ffffff;
}

.section2 .inner-section .second .address-search {
  list-style-type: none;
  overflow-y: scroll;
  height: 220px;
}

.section2 .inner-section .second .address-search>li:hover {
  background: #49505723;
}

.section2 .inner-section .second .address-title-bottom {
  color: #6C757D;
  background-color: #E9ECEF;
  padding: 12px 32px 12px 16px;
  font-size: 12px;
}

.address-search-text {
  font-size: 15px !important;
  color: #E50020;
  text-decoration: underline;
}

.address-search-text:hover {
  color: #E50020;
}

.section2 .inner-section .second .text {
  font-size: 12px;
  font-weight: 400;
}

.section2 .inner-section .second .text2 {
  bacKground-image: url(../public/photo/warning-red.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
}

.error-text {
  bacKground-image: url(../public/photo/warning-red.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
}

.error-bg {
  background-color: #F9E1E6;
}

.section2 .inner-section .third {
  width: 100%;
  padding: 12px 32px;
  background: #D70036;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin-top: 8px;
  margin-bottom: 8px;
}

.section2 .inner-section .fourth {
  width: 100%;
  padding: 12px 32px;
  border: solid 1px #D70036;
  text-align: center;
  color: #D70036;
  font-size: 16px;
  font-weight: 500;
  border-radius: 100px;
}

.section3 img {
  max-width: 68%;
  min-width: 45px;
  height: 64px;
  margin-bottom: 15px;
}

/* .section3 .Icon-img{
   margin-top:15px;
} */

.section3 .inner-section {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-auto-rows: auto auto auto;
  grid-column-gap: 0;
  grid-row-gap: 26px;
  text-align: center;
  justify-items: center;
  align-items: stretch;
  justify-content: stretch;
  align-content: space-around;
  max-width: 1048px;
  margin: auto;
}

.section3 .inner-section .second {
  display: flex;
  color: #101820;
  font-size: 20px;
  font-weight: bold;
  border-left: solid 5px #D70036;
  padding-left: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
  grid-column: 1/4;
}

.section3 .inner-section .first-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.section3 .inner-section .first-row .first-span {
  font-size: 18px;
  font-weight: bold;
  color: #101820;
}

.section3 .inner-section .first-row .second-span {
  color: #495057;
}

.section3 .inner-section .eighth {
  color: #495057;
  font-size: 14px;
  text-align: center;
  grid-column-end: span 3;
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section4 .first-row img {
  max-width: 8px;
  ;
  height: auto;
}

.section4 .first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 76px 0;
}

.section4 .first-row .text {
  font-size: 16px;
  font-weight: bold;
  color: #D70036;
  margin-right: 26px;
}

.customer-appearance {
  display: none;
}

/* SearchByCata */

.z {
  z-index: 1
}

.outermost {
  width: 650px;
  background-color: #ffffff;
  padding: 0;
}

.cross-icon {
  top: 8px;
  left: 8px;
  cursor: pointer;
  background-color: #ffffff;
  padding: 5px 7px;
  border-radius: 6px;
}

.cross-icon:hover {
  background-color: #4950579c;
  padding: 5px 7px;
  border-radius: 6px;
}

.breakline {
  background: #E50020;
  height: 2px;
  margin: 0;
}

.bottom-btn {
  background-color: #E50020;
  color: #ffffff;
  cursor: pointer;
}




/* searchByCata spinner */

#load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 0;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #35C4F0;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }

  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}




/* CarousellCus */

.carosell {
  padding-bottom: 25%;
}

.carousel1 .carousel-inner,
.carousel2 .carousel-inner {
  height: 100%;
}

.carousel2-ratio {
  width: 62%;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


.carousel-indicators {
  bottom: -40px;
  z-index:1
}

.carousel-indicators [data-bs-target] {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #ADB5BD !important;
  border-top: 0;
  border-bottom: 0;
}

.carousel-indicators .active {
  background-color: #D70036 !important;
  opacity: 1 !important;
}

.carousel-control-next {
  position: absolute;
  top: initial !important;
  bottom: initial !important;
  padding: 8px 0;
  right: calc(-9rem + 40vw)
}

.carousel-control-prev {
  position: absolute;
  top: initial !important;
  bottom: initial !important;
  padding: 8px 0;
  left: calc(-9rem + 40vw)
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 1.2rem;
  height: 1.2rem;
}


.question-width {
  width: 680px;
  min-height: 480px;
}


.whatsApp_float
{
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 9999;
  width: auto;
  height: auto;
  opacity: 1;
}



/* Page2 FirstSection */


.firstsection {
  max-width: 960px;
  margin: auto;
}

#page2 {
  width: 760px;
}

#page2 .outermost {
  width: auto;
}

#page2 .outermost .text1 {
  font-size: 12px;
}

#page2 .outermost .text2 {
  font-size: 18px;
}

#page2 .outermost .text3 {
  font-size: 14px;
}


/*page2  form */

.form input {
  outline: 0;
}

.form input::placeholder {
  opacity: 0;
}

.form label:focus-within {
  /* border: solid 1px #7ba7f8 !important; */
  border: solid 1px #101820 !important;
  box-shadow: 1px 3px 5px #00000034 !important;
}

.form label:focus-within>span,
.form input:not(:placeholder-shown)+span:not(.hkid) {
  font-size: 11px;
  transform: translate(16px, 8px);
}

.district-code {
  background-color: #E9ECEF;
}

#visaForm .form input:focus::placeholder {
  opacity: 100;
}

.form-text {
  transform: translate(12px, 12px);
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s
}

.section-inquiry {
  max-width: 600px;
  margin: auto;
}

.checkbox input {
  width: 22px;
  height: 22px;
  margin-top: 3px;
}

.checkbox .text {
  font-size: 15px;
}

.submit-btn {
  color: #D70036;
  border: solid 1px #D70036;
}


/* card */

.card-outer {
  max-width: 610px;
  border-radius: 12px;
}

.card-title {
  font-size: 14px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 1px 0;
}

.card-btn-width {
  width: auto;
}

.card-item>div {
  flex: 1 0 50%;
}

.card-item .text {
  font-size: 13px;
}

.card-item .text3,
.card-item .text2 {
  font-size: 13px;
}

.card-photo {
  height: auto;
  max-width: 100%;
  min-width: 130px;
}

.card-item .border-right {
  display: inline-block;
  border-left: solid 2px #D70036;
}

.card-btn {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-12px);
}

.card-btn-bottom {
  display: none;
}

.card-collapse-photo {
  margin: 6px;
  max-width: 15%;
  min-width: 13%;
  height: auto;
}

.card-collapse-text {
  font-size: 15px;
  font-weight: 400;
}

.card-collapse-text2 {
  font-size: 18px;
  font-weight: bold;
}

.card-collapse-smallphoto {
  max-width: 100%;
  height: auto;
}

.card-collapse-photoframe {
  width: 120px;
  margin: 5px 10px;
}

#pdf{
  background-image: url("../public/photo/image3small.jpg");
  background-size:auto;
}

#pdf .pdf-page-detail-btn {
  display: none;
}

#pdf .card-outline {
  border: solid 1px #6d6c6c50;
  border-radius: 10px;
}

.contract-hide-large {
  display: block;
}

.contract-hide-small {
  display: none;
}

#pdf-pagecard .section-left {
  flex-direction: column !important;
  align-items: start !important;
  flex-wrap: nowrap !important;
}

#pdf-pagecard .card-item {
  width: 50% !important;
}

#pdf-pagecard .card-outer {
  width: 380px;
}

#pdf-pagecard .b-red {
  border: solid 1px #6c757d48 !important;
}

#pdf-pagecard .outer-photo {
  width: 50% !important;
  padding-right: 130px !important;
}

#pdf-pagecard .pdf-contract-hide-large {
  display: block !important;
}

#pdf-pagecard .pdf-contract-hide-small {
  display: none !important;
}

#pdf-pagecard .card-photo {
  height: auto !important;
  max-width: 100% !important;
  min-width: 160px !important;
}

#pdf-pagecard .card-item>div {
  flex: 1 0 auto;
}



/* Page2  Term */
input[type="checkbox"] {
  appearance: none;
  width: 23px;
  height: 23px;
  border: solid 1px #000000;
  border-radius: 4px;
}

input[type="checkbox"]::after {
  font-family: "FontAwesome";
  content: "\f00c";
  display: block;
  position: absolute;
  top: -1.5px;
  left: 3.5px;
  color: #ffffff;
}

input[type="checkbox"]:checked {
  background-color: #000000;
  border: 1px solid #000000 !important;
}

.checkbox-error input[type="checkbox"] {
  border: 1px solid #D70036;
}



/* page2 stepBar */
.step,
.step2,
.step3 {
  width: calc(100%/3);
  height: 12px;
}

.step::before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  background-color: #ffffff;
  border-radius: 100%;
  border: solid 2px #D70036;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
}

.step-start::before {
  content: "";
  width: 9px;
  height: 9px;
  display: block;
  background-color: #980026;
  border-radius: 100%;
  border: solid 0px #D70036;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
}

.step-end::after {
  content: "";
  width: 9px;
  height: 9px;
  display: block;
  background-color: #980026;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

}

.step::after {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  background-color: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

}

.step-end-active::after {
  content: "";
  width: 9px;
  height: 9px;
  display: block;
  background-color: #980026;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

}

.step2::after {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  background-color: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.step2-start::after {
  content: "";
  width: 9px;
  height: 9px;
  display: block;
  background-color: #980026;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.step3::after {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  background-color: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
}

.step-active {
  background-color: #E50020 !important;
}

.step-active2::before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  background-color: #E50020;
  border-radius: 48%;
  position: absolute;
  top: 50%;
  left: -9px;
  transform: translateY(-50%);
  z-index: -1
}


/* page2 stepper */

.customer>.btn-text {
  letter-spacing: 10px;
}

.stepper {
  width: 520px;
}

.stepper-text {
  white-space: nowrap;
  font-size: 18px;
}

.stepper-block-top {
  display: none;
}


/* page2 SubInfoForm */

.subinfoform .id-no {
  outline: none;
}

.subinfo-text {
  font-size: 12px;
}


/* page2 InstallationForm */

.installation-form .install-text {
  font-size: 12px;
}

.installation-form .calendar-padding-font {
  padding: 5px 12px !important;
  font-size: 15px !important;
}

/* page2 Inquiry */
.inquiry-outermost {
  z-index: 1
}

.inquiry-width {
  width: 560px;
}




/* Page3 Page3Index */
.form-radio {
  color: #000000 !important;
  background-color: #F7F8FA;
  border-radius: 8px;
  border: solid 1px transparent;
  cursor: pointer;
}

input[type="radio"]:checked+label {
  border: solid 1px #6C757D;
}

/* Footer */

.ft-text {
  font-size: 12px;
}

.backtotop {
  right: 0;
  bottom: 50px
}


/* page3 formlabel */


.formlabel-img {
  max-width: 2.5%;
  height: auto;
  min-width: 20px;
}



/* page4 visa */

.min-visa {
  min-width: 400px;
}

.visa-img {
  max-width: 10%;
  height: auto;
}

.master-img {
  max-width: 7%;
  height: auto;
}

.visa-logo {
  background-image: url(../public/photo/image_visa.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 20%;
  padding-right: 50px;
  ;
}

.master-logo {
  background-image: url(../public/photo/image_master.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 20%;
  padding-right: 50px;
  ;
}

.visa-form .form-text {
  font-size: 14px;
  ;
}

.page4-width {
  max-width: 780px;
}

.visa-narrow {
  max-width: 420px;
}


/* Page5 */

.page5-width {
  max-width: 650px;
}




/* Page6 */

.page6-outer {
  max-width: 420px;
  height: 800px;
}



.congrat-img {
  max-width: 30%;
  min-width: 70px;
  height: auto;
}

.page6_reg_mobile{
  display:none;
}


/* tnc */

.tnc-outer {
  max-width: 630px;
  height: 85%;
  min-width: 630px;
}

.tnc-overflow {
  overflow-y: scroll;
  height: 90%;
}

.tnc-confirm-btn {
  left: 50%;
  bottom: -65px;
  width: 90%;
  transform: translateX(-50%);
}








/* breakpoint */

@media only screen and (max-width:991px) {
  .card-btn-bottom {
    display: flex;
  }

  .card-btn {
    /* display: none; */
    justify-content: center;
    margin-top: 15px;
    transform: translateY(0);
  }

  .section-left {
    flex-direction: column;
    align-items: start !important;
    flex-wrap: nowrap !important;
  }

  .card-item .text3 {
    text-align: left !important;
  }

  .card-item {
    width: 50% !important;
  }

  .outer-photo {
    width: 50% !important;
    padding-right: 130px !important;
  }

  .card-photo {
    height: auto;
    max-width: 100%;
    min-width: 120px;
  }

  .card-item>div {
    flex: 1 0 auto;
  }

  .width-35 {
    width: 35% !important;
  }

}


@media only screen and (max-width:768px) {
  .customer-appearance {
    display: block;
  }

  .customer {
    width: 100%;
  }

  .page6_reg_mobile{
    display:inline;
  }

  .page6_reg_desktop{
    display:none
  }
}



@media only screen and (max-width:767px) {
  .birth-select {
    width: 50%;
    margin-bottom: 10px;
  }

  .birth-select2 {
    width: 100%;
  }

  .contract-hide-large {
    display: none;
  }

  .contract-hide-small {
    display: block;
  }

}

@media only screen and (max-width:479px) {
  .customer>.btn-text {
    letter-spacing: 0;
    padding: 2px 10px !important;
  }

  .section1 .outer-section {
    margin-top: 30px;
  }

  .section3 img {
    max-width: 12%;
    min-width: 32px;
    height: auto;
    margin-bottom: 0;
    margin-right: 14px;
  }

  .section3 .Icon-img {
    margin-top: initial;
  }

  .section2 .inner-section {
    padding: 18px;
  }

  .section3 .inner-section {
    grid-template-columns: minmax(auto, 1fr);
    padding: 0 14px;
    justify-items: flex-start;
  }

  .section3 .inner-section .first-row {
    flex-direction: row;
    text-align: left;
  }

  .section3 .inner-section .second {
    margin-bottom: 10px;
  }

  .section3 .inner-section .fourth,
  .section3 .inner-section .fifth,
  .section3 .inner-section .sixth {
    grid-column-end: span 3;
    padding: 0 16px;
  }

  .section3 .inner-section .eighth {
    text-align: left;
  }

  .section4 {
    padding: 14px;
  }

  .section4 .first-row {
    margin: 26px 0;
  }


  .page2index {
    margin-top: 0 !important;
  }

  .stepbar-width {
    width: 100%;
  }

  .stepper-wrap {
    flex-wrap: wrap;
  }

  .stepper-block-bottom {
    display: none;
  }

  .stepper-block-top {
    display: block;
  }

  .carosell {
    padding-bottom: 40%;
  }

  .outer-img {
    filter: none;
  }

  .carousel2-ratio {
    /* width: 92%;
    height: 91% !important */
    display: none
  }

  .carousel-control-next,
  .carousel-control-prev {
    padding: 10px 0;
    width: 60%;
  }

  .hkid1 {
    width: 70% !important;
  }

  .hkid2 {
    width: 30% !important;
  }

  #page2 .outermost {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .card-outline {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .card-btn-bottom {
    justify-content: center !important;
  }

  .card-item .text3 {
    font-size: 12px;
  }

  .tnc-outer {
    max-width: 630px;
    height: 75%;
    min-width: 350px;
  }

}

@import './Spinner.css';
@import './MyCalendar2.css';
@import './MyCalendar.css';